/* Task */
.task {
  font-weight: 300;
  color: #fff;
  border-bottom: 1px solid black;
  height: 95px;
  display: grid;
  grid-template-columns: 4% 10% 76% 10%;
  position: relative;
}
.task:hover .delete {
  opacity: 1;
}
.task-element {
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid black;
}

/* Circle */

.circle {
  width: 20px;
  height: 20px;
  border-radius: 10px;
}

/* Date */

.date {
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: 16px;
}
.current-date {
  font-size: 16px;
}
.delete {
  display: flex;
  justify-content: flex-end;
  width: 200px;
  position: absolute;
  top: 50%;
  right: -100px;
  transform: translate(0, -50%);
  opacity: 0;
  transition: opacity 0.5s ease;
}
.delete-button {
  cursor: pointer;
  display: flex;
  align-items: center;
  border-radius: 10px;
  background-color: #c93a27;
  border: none;
  padding: 10px 18px;
  font-size: 24px;
  width: auto;
  height: 50px;
}
