.arrow {
  cursor: pointer;
  display: inline-block;
  width: 21px;
  height: 39px;
  clip-path: polygon(0 0, 100% 50%, 0 100%);
  background: linear-gradient(270deg, rgba(85, 146, 239, 0.79) 0%, #495d7a 80%);
}
.arrow-button {
  width: 19px;
  height: 25px;
}
