.error-container {
  display: none;
  opacity: 0;
}
.error-box {
  border-radius: 10px;
  background-color: #35302c;
  width: 695px;
  height: 179px;
  position: absolute;
  left: 34%;
  top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px black solid;
}
.error-box_inner {
  margin-top: 65px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}
.error-text {
  font-size: 24px;
  text-shadow: -1px 0 0 #b83f3f, 0 -1px 0 #b83f3f, 1px 0 0 #b83f3f,
    0 1px 0 #b83f3f;
}
.error-container-enter {
  display: inline-block;
  opacity: 0;
}
.error-container-enter-done {
  display: inline-block;
  opacity: 1;
}
.error-container-enter-active {
  opacity: 1;
  transition: opacity 0.5s;
}
.error-container-exit {
  display: inline-block;
  opacity: 1;
}
.error-container-exit-active {
  opacity: 0;
  transition: opacity 0.5s;
}
.error-container-exit-done {
  display: none;
  opacity: 0;
}
