* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
.bg {
  height: 100dvh;
  background: url("./background.png") center no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.container {
  overflow: auto;
  height: 100dvh;
  width: 100%;
  max-width: 1860px;
  margin: 0 auto;
}
.container__inner {
  height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
